body {
  color: white;
}

.biography {
  border-radius: 0px 0px 20px 20px;
  color: rgb(114, 0, 0);
  border: 1px solid gray;
}
h1 {
  padding: 10px;
  margin-top: 20px;
  border-bottom: 1px solid rgb(0, 63, 60);
  color: rgb(114, 0, 0);
  font-size: 20px;
}
div {
  text-align: center;
}
.album-card {
  width: 200px;
  height: 300px;
  background-color: rgb(0, 63, 60);
  border: solid 1px rgb(0, 141, 134);
  border-radius: 10px;
  padding: 10px;
}

img.album-cover {
  border-radius: 50%;
  border: 2px solid rgb(0, 141, 134);
  padding: 0px;
  align-items: center;
  width: 150px;
}

div p {
  margin: 0px;
  border-bottom: 1px solid rgb(0, 141, 134);
}

.reviews {
  background-color: rgb(204, 204, 204);
  color: rgb(54, 54, 54);
  border: 1px solid gray;
}
